﻿html, body {
height: 90%;
margin: 0;
}

#header {
    width: 100%;
}
.center {
    display: block;
    margin: auto;
}

.title {
    margin-top: 30px;
}

#logo {
    margin-top: 50px;
	max-height : 150px;
	max-width: 300px;
}

.bottom {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.powered {
    color: white;
}

.section {
    height: 50%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #9e0000;
}

#check {
    font-size: 35px;
    margin-top: 25px;
    margin-right: 15px;
    color: #9e0000
}

.social {
    text-align: center;
    width: 100%;
}

.follow {
    font-size: 30px;
}

.row{
	margin-left: 0;
}