﻿html, body {
height: 90%;
margin: 0;
}

#header {
    width: 100%;
}
.center {
    display: block;
    margin: auto;
}

.title {
    margin-top: 30px;
}

#logo {
    margin-top: 50px;
	max-height : 150px;
	max-width: 300px;
}

.bottom {
    background-color: black;
    bottom: 0;
    margin-top: 30px;
}

.powered {
    color: white;
}

.section {
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #9e0000;
}

#check {
    font-size: 35px;
    margin-top: 25px;
    margin-right: 15px;
    color: #9e0000
}

.social {
    text-align: center;
    width: 100%;
}

.follow {
    font-size: 30px;
}



.wrapper {
        text-align: center;
    }
.wrapper ul {
        display: inline-flex;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom:1;
        *display: inline;
    }

#input {

    height: auto;
}

.input {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {

  text-align: center;
   text-align-last: center;
}

.postal {
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left !important;


}


#numero1, #numero2 {
    width: 30%;
    float: right;
}

.type-contact {
    width: 10% !important;
}

.contact {
    width: 90% !important;
}

.contact-group {
    width: 100%;
}

.contact-type {
    display: inherit !important;
    width: 97% !important;
    margin-bottom: 10px !important;
}

a.active {
    color: blue;
    text-decoration: underline;
}

::-webkit-input-placeholder {
   text-align: center;
}

li {
    margin-right: 10px;
}



