{% extends 'base.html.twig' %}
{% block title %}Evosys - Personal data{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/personal_data.css') }}" />
{% endblock %}
{% block body %}
    <div class="row" id="header">
        <div class="col-md-12">
            <img class="img-responsive center" src="http://www.evosys.be/Logos/{{ NoClient }}.jpg" alt="Logo Evosys" id="logo" />
        </div>
    </div>
    {# before #}
    {% if app.session.flashbag.peekAll|length > 0 %}
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="{{ type ? type : '' }}">
                    {{ message|trans({}, domain|default('messages')) }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h1 class="text-center title" id="h1Fr">Mes données personnelles</h1>
    <h1 class="text-center title" id="h1Nl">Mijn persoonlijke gegevens</h1>
    <h1 class="text-center title" id="h1En">My personal data</h1>
    <div class="container">
        <form method="post">
            <div class="wrapper">
                {% set id = app.request.query.get('id') %}
                {% set code = app.request.query.get('code') %}
                {% set noevosys = app.request.query.get('noevosys') %}
                <input type="hidden" value="{{ app.request.query.get('language') }}" name="language">
                <ul class="nav nav-pills" id="nav">
                    <li><a href="{{ path('personal_data', {'id': id, 'code': code, 'noevosys': noevosys, 'language': 'FR' }) }}" id="fr" {% if lng == 'FR' %}class="active"{% endif %}>FR</a></li>
                    <li><a href="{{ path('personal_data', {'id': id, 'code': code, 'noevosys': noevosys, 'language': 'NL' }) }}" id="nl" {% if lng == 'NL' %}class="active"{% endif %}>NL</a></li>
                    <li><a href="{{ path('personal_data', {'id': id, 'code': code, 'noevosys': noevosys, 'language': 'EN' }) }}" id="en" {% if lng == 'EN' %}class="active"{% endif %}>EN</a></li>
                </ul>
            </div>
            <br/>
            <div class="row">
                <div class="input-group mb-3 col-md-6 col-sm-8 col xs-12">
                    <span class="input-group-text">Politesse</span>
                    <select name="politesse" class="form-control" id="input">
                        {% for polites in politesse %}
                            {% if lng == 'FR' %}
                                {% set courtesy = polites.FR %}
                            {% elseif lng == 'EN' %}
                                {% set courtesy = polites.EN %}
                            {% elseif lng == 'NL' %}
                                {% set courtesy = polites.NL %}
                            {% endif %}
                            {% if courtesy is not empty %}
                            <option value="{{ courtesy }}" {% if userInformation.Politesse == courtesy %} selected="selected" {% endif %}>{{ courtesy }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-md-12">
                    <span class="input-group-text" id="nomFr">Nom(s)</span>
                    <span class="input-group-text" id="nomNl">Naam(en)</span>
                    <span class="input-group-text" id="nomEn">Name(s)</span>
                    <input id="nom" type="text" class="form-control" name="name"  value="{{ userInformation.Name1 }}">
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-md-12">
                    <span class="input-group-text" id="prenomFr">Prénom(s)</span>
                    <span class="input-group-text" id="prenomNl">Voornaam</span>
                    <span class="input-group-text" id="prenomEn">First name</span>
                    <input id="prenom" type="text" class="form-control" name="lastname"  value="{{ userInformation.Name2 }}">
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 col-md-12">
                    <span class="input-group-text" id="fonctionFr">Fonction</span>
                    <span class="input-group-text" id="fonctionNl">Functie</span>
                    <span class="input-group-text" id="fonctionEn">Function</span>
                    <input id="fonction" type="text" class="form-control" name="function"  value="{{ userInformation.Title }}">
                </div>
            </div>
            <h2 class="text-center" id="coordFr">Mes coordonnées</h2>
            <h2 class="text-center" id="coordNl">Mijn adres</h2>
            <h2 class="text-center" id="coordEn">My address</h2>
            <div class="row">
                <div class="input-group mb-3 col-md-12">
                    <span class="input-group-text" id="paysFr">Pays</span>
                    <span class="input-group-text" id="paysNl">Staat</span>
                    <span class="input-group-text" id="paysEn">Country</span>
                    <select class="form-control" id="input" name="country">
                        {% for country in countries %}
                        <option value="{{ country.CountryID }}" {% if userInformation.CountryID == country.CountryID %} selected="selected" {% endif %}>
                            {% if lng == 'FR' %}
                                {{ country.CountryFR }}
                            {% elseif lng == 'EN' %}
                                {{ country.CountryEN }}
                            {% elseif lng == 'NL' %}
                                {{ country.CountryNL }}
                            {% endif %}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 postal col-md-4 col-sm-12 col-xs-12" id="postal">
                    <span class="input-group-text" id="postalFr">Code postal</span>
                    <span class="input-group-text" id="postalNl">Postcode</span>
                    <span class="input-group-text" id="postalEn">Postal code</span>
                    <input id="postal" type="number" class="form-control" name="postal"  value="{{ userInformation.ZipCode }}">
                </div>
                <div class="input-group mb-3 input col-md-8 col-sm-12 col-xs-12">
                    <span class="input-group-text" id="localiteFr">Localité</span>
                    <span class="input-group-text" id="localiteNl">Plaats</span>
                    <span class="input-group-text" id="localiteEn">Locality</span>
                    <input id="localite" type="text" class="form-control" name="locality"  value="{{ userInformation.Locality }}">
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 input col-md-12">
                    <span class="input-group-text" id="adr1Fr">Adresse 1</span>
                    <span class="input-group-text" id="adr1Nl">Huisadres 1</span>
                    <span class="input-group-text" id="adr1En">Address 1</span>
                    <input id="adresse1" type="text" class="form-control" name="adresse1"  value="{{ userInformation.Address1 }}">

                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3 input col-md-12">
                    <span class="input-group-text" id="adr2Fr">Adresse 2</span>
                    <span class="input-group-text" id="adr2Nl">Huisadres 2</span>
                    <span class="input-group-text" id="adr2En">Address 2</span>
                    <input id="adresse2" type="text" class="form-control" name="adresse2"  value="{{ userInformation.Address2 }}">
                </div>
            </div>
            <h2 class="text-center" id="commFr">Moyens de communications</h2>
            <h2 class="text-center" id="commNl">Communicatiemiddelen</h2>
            <h2 class="text-center" id="commEn">Telecommunications</h2>

            {#<div class="input-group contact-group" id="contact-group">
                <select id="type-contact" class="selectpicker form-control type-contact" data-live-search="true" title="" onchange="changeType()">
                    <option value="1" id="contact-tel">E-mail</option>
                    <option value="2" id="contact-mail">Téléphone</option>
                </select>
                <input type="tel" class="form-control contact" name="tel[]" id="tel" placeholder="Téléphone">
                <input type="email" class="form-control contact" name="type-contact[]" id="type" placeholder="E-mail">
            </div>
            <div class="container1">
                <button class="add_form_field">Ajouter &nbsp;
                    <span style="font-size: 16px; font-weight: bold;">+ </span>
                </button>
            </div>#}

            {% for contact in communication %}
                <div class="row">
                    <div class="col-sm-10">
                        {% if contact.Code == 'E' %}
                            <input placeholder="E-mail" class="form-control contact-type" name="emailedit[{{ contact.ID }}]" type="email" value="{{ contact.PhoneAll }}">
                        {% elseif contact.Code == 'T' %}
                            <input placeholder="Contact" class="form-control contact-type" name="telephoneedit[{{ contact.ID }}]" type="tel" value="{{ contact.PhoneAll }}">
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                        <a  class="float-right" href="{{ path('remove_communication', {'contactId': contact.ID, 'noEvosys': NoClient, 'code': code, 'id': id }) }}">
                            <img src="{{ asset('images/delete.png') }}" />
                        </a>
                    </div>
                </div>
            {% endfor %}

            {% if lng == 'EN' %}
                {% set email = 'Add an email' %}
                {% set telephone = 'Add a phone number' %}
                {% set save = 'Save' %}
            {% elseif lng == 'FR' %}
                {% set email = 'Ajouter un email' %}
                {% set telephone = 'Ajouter un telephone' %}
                {% set save = 'Enregistrer' %}
            {% elseif lng == 'NL' %}
                {% set email = 'Een mailadres toevoegen' %}
                {% set telephone = 'Een telefoon toevoegen' %}
                {% set save = 'Opslaan' %}
            {% endif %}
            <div class="two" style="text-align: center; margin-bottom: 20px;">
                <input type="button" class="btn btn-success" value="{{ email }}" onclick="emailFunction()">
                <input type="button" class="btn btn-success" value="{{ telephone }}" onclick="contactFunction()">

                <input type="button" class="btn btn-danger" value="Reset" onclick="resetElements()">
            </div>
            <!--
            ========================================================================================
            This Div is meant to display final form.
            ========================================================================================
            -->
            <div class="three">

                <span id="myForm"></span>


            </div>

            <h2 style="text-align: center" id="choixTitreFr">Liste de diffusion - Dernier choix enregistré</h2>
            <h2 style="text-align: center" id="choixTitreEn">Mailing list - Last saved choice</h2>
            <h2 style="text-align: center" id="choixTitreNl">Mailinglijst - Laatst opgeslagen keuze</h2>


            <input type="checkbox" name="choix" id="info" {% if userInformation.StopEmails != 1 %} checked{% endif %}/>
            <span for="info" id="choixLibFr">Je souhaite être contacté par email</span>
            <span for="info" id="choixLibEn"> I wish to be contacted by email</span>
            <span for="info" id="choixLibNl">Ik wil graag per e-mail gecontacteerd worden</span>
            <br /><br />
            <button type="submit" name="submit" value="Enregistrer" class="btn btn-primary">{{ save }}</button>
        </form>
    </div>
    <div class="row bottom">
        <div class="col-md-12">
            <p class="text-center powered">
                &copy;
                Designed & Powered by
                <a target="_blank" href="http://www.evosys.com">
                    <b>Evosys</b>
                </a>

            </p>
        </div>
        <div class="social">
            <ul class="list-inline social-links">
                <li>
                    <a href="https://www.facebook.com/EvosysBE/" target="_blank" class="icon-facebook"><i class="fab fa-facebook-square follow"></i></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/form.js') }}" type="text/javascript"></script>
    <script>
        let arrayIdDiv = [];
        let arrayIdInput = [];
        let arrayId = [];

        function changeType() {
            if (document.getElementById("type-contact").selectedIndex == 1) {
                /* $("#tel").show();
                $("#email").hide();*/
                document.getElementById('type').type = 'tel'
                document.getElementById('type').placeholder = 'Téléphone'


            } else {
                /*   $("#tel").hide();
                $("#email").show();*/
                document.getElementById('type').type = 'email'
                document.getElementById('type').placeholder = 'E-mail'
            }
        }

        function changeType2() {
            arrayIdDiv.forEach(function(idDiv) {
                arrayIdInput.forEach(function(idInput) {
                    if (document.getElementById(idDiv).selectedIndex == 1) {

                        document.getElementById(idInput).type = 'tel';
                        document.getElementById(idInput).placeholder = 'Téléphone';

                    } else {

                        document.getElementById(idInput).type = 'email'
                        document.getElementById(idInput).placeholder = 'E-mail'


                    }

                });
            });
        }

        $(document).ready(function() {
            var max_fields = 10;
            var wrapper = $(".container1");
            var add_button = $(".add_form_field");

            var x = 1;
            $(add_button).click(function(e) {
                var idDiv = Math.random() * 10;
                var idInput = Math.random() * 5;

                arrayId.push(idDiv, idInput)
                arrayIdDiv.push(idDiv)
                arrayIdInput.push(idInput)

                e.preventDefault();
                if (x < max_fields) {
                    x++;
                    //$(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="delete">Delete</a></div>'); //add input box
                    $(wrapper).append('<div class="input-group contact-group" id="contact-group">' +
                        '<select id="' + idDiv + '" class="selectpicker form-control type-contact" data-live-search="true" title="" onchange="changeType2()">' +
                        '<option value="1" id="contact-tel">E-mail</option>' +
                        '<option value="2" id="contact-mail">Téléphone</option>' +
                        '</select>' +
                        '<input type="tel" class="form-control contact" name="type-contact[]" id="' + idInput + '" placeholder="Téléphone">' +
                        '<a href="#" class="delete">Delete</a></div></div>'); //add input box
                } else {
                    alert('You Reached the limits')
                }
            });

            $(wrapper).on("click", ".delete", function(e) {
                e.preventDefault();
                $(this).parent('div').remove();
                x--;
                arrayIdDiv.splice(-1, 1);
                arrayIdInput.splice(-1, 1);
            });

            $("#nomNl").hide();
            $("#nomEn").hide();
            $("#prenomNl").hide();
            $("#prenomEn").hide();
            $("#fonctionNl").hide();
            $("#fonctionEn").hide();
            $("#h1Nl").hide();
            $("#h1En").hide();
            $("#coordNl").hide();
            $("#coordEn").hide();
            $("#paysNl").hide();
            $("#paysEn").hide();
            $("#postalNl").hide();
            $("#postalEn").hide();
            $("#localiteNl").hide();
            $("#localiteEn").hide();
            $("#adr1Nl").hide();
            $("#adr1En").hide();
            $("#adr2Nl").hide();
            $("#adr2En").hide();
            $("#commNl").hide();
            $("#commEn").hide();
            $("#choixEn").hide();
            $("#choixNl").hide();
            $("#choixTitreEn").hide();
            $("#choixTitreNl").hide();
            $("#choixLibEn").hide();
            $("#choixLibNl").hide();


            {% if lng == 'NL' %}
                $("#nomNl").show();
                $("#nomFr").hide();
                $("#nomEn").hide();
                $("#prenomNl").show();
                $("#prenomFr").hide();
                $("#prenomEn").hide();
                $("#fonctionNl").show();
                $("#fonctionFr").hide();
                $("#fonctionEn").hide();
                $("#h1Nl").show();
                $("#h1Fr").hide();
                $("#h1En").hide();
                $("#coordNl").show();
                $("#coordFr").hide();
                $("#coordEn").hide();
                $("#paysNl").show();
                $("#paysFr").hide();
                $("#paysEn").hide();
                $("#postalNl").show();
                $("#postalFr").hide();
                $("#postalEn").hide();
                $("#localiteNl").show();
                $("#localiteFr").hide();
                $("#localiteEn").hide();
                $("#adr1Nl").show();
                $("#adr1Fr").hide();
                $("#adr1En").hide();
                $("#adr2Nl").show();
                $("#adr2Fr").hide();
                $("#adr2En").hide();
                $("#commNl").show();
                $("#commFr").hide();
                $("#commEn").hide();
                $("#choixNl").show();
                $("#choixFr").hide();
                $("#choixEn").hide();
                $("#choixTitreNl").show();
                $("#choixTitreFr").hide();
                $("#choixTitreEn").hide();
                $("#choixLibNl").show();
                $("#choixLibFr").hide();
                $("#choixLibEn").hide();
            {% elseif lng == 'FR' %}
                $("#nomNl").hide();
                $("#nomFr").show();
                $("#nomEn").hide();
                $("#prenomNl").hide();
                $("#prenomFr").show();
                $("#prenomEn").hide();
                $("#fonctionNl").hide();
                $("#fonctionFr").show();
                $("#fonctionEn").hide();
                $("#h1Nl").hide();
                $("#h1Fr").show();
                $("#h1En").hide();
                $("#coordNl").hide();
                $("#coordFr").show();
                $("#coordEn").hide();
                $("#paysNl").hide();
                $("#paysFr").show();
                $("#paysEn").hide();
                $("#postalNl").hide();
                $("#postalFr").show();
                $("#postalEn").hide();
                $("#localiteNl").hide();
                $("#localiteFr").show();
                $("#localiteEn").hide();
                $("#adr1Nl").hide();
                $("#adr1Fr").show();
                $("#adr1En").hide();
                $("#adr2Nl").hide();
                $("#adr2Fr").show();
                $("#adr2En").hide();
                $("#commNl").hide();
                $("#commFr").show();
                $("#commEn").hide();
                $("#choixNl").hide();
                $("#choixFr").show();
                $("#choixEn").hide();
                $("#choixTitreNl").hide();
                $("#choixTitreFr").show();
                $("#choixTitreEn").hide();
                $("#choixLibNl").hide();
                $("#choixLibFr").show();
                $("#choixLibEn").hide();
            {% else %}
                $("#nomNl").hide();
                $("#nomFr").hide();
                $("#nomEn").show();
                $("#prenomNl").hide();
                $("#prenomFr").hide();
                $("#prenomEn").show();
                $("#fonctionNl").hide();
                $("#fonctionFr").hide();
                $("#fonctionEn").show();
                $("#h1Nl").hide();
                $("#h1Fr").hide();
                $("#h1En").show();
                $("#coordNl").hide();
                $("#coordFr").hide();
                $("#coordEn").show();
                $("#paysNl").hide();
                $("#paysFr").hide();
                $("#paysEn").show();
                $("#postalNl").hide();
                $("#postalFr").hide();
                $("#postalEn").show();
                $("#localiteNl").hide();
                $("#localiteFr").hide();
                $("#localiteEn").show();
                $("#adr1Nl").hide();
                $("#adr1Fr").hide();
                $("#adr1En").show();
                $("#adr2Nl").hide();
                $("#adr2Fr").hide();
                $("#adr2En").show();
                $("#commNl").hide();
                $("#commFr").hide();
                $("#commEn").show();
                $("#choixNl").hide();
                $("#choixFr").hide();
                $("#choixEn").show();
                $("#choixTitreNl").hide();
                $("#choixTitreFr").hide();
                $("#choixTitreEn").show();
                $("#choixLibNl").hide();
                $("#choixLibFr").hide();
                $("#choixLibEn").show();
            {% endif %}
        });
    </script>
{% endblock %}
