{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/message.css') }}" />
{% endblock %}
{% block body %}
    <div class="row" id="header">
        <div class="col-md-12">
            <img class="img-responsive center" src="http://www.evosys.be/Logos/{{ NoClient }}.jpg" alt="Logo" id="logo" />
        </div>
    </div>

    <div class="section" id="message">
        <i class="fas fa-check-circle d-none d-sm-block" id="check"> </i> <h1 class="text-center title">{{ MESSAGE }}</h1>
    </div>

    <div class="row bottom">
        <div class="col-md-12">
            <p class="text-center powered">
                &copy;
                Designed & Powered by
                <a target="_blank" href="http://www.evosys.com">
                    <b>Evosys</b>
                </a>

            </p>
        </div>
        <div class="social">

            <ul class="list-inline social-links">
                <li>
                    <a href="https://www.facebook.com/EvosysBE/" target="_blank" class="icon-facebook"><i class="fab fa-facebook-square follow"></i></a>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}
